@import url('https://fonts.maateen.me/kalpurush/font.css');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kalpurush', sans-serif;
}
.main-section{
    text-align: center;
    width: 1009px;
    margin: 0 auto;
}
.mother-div{
    position: relative;
}
.mother-div img{
    width: 100%;
}
.exam-name{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 399px;
    top: 341px;
}
.registration-number, .student-name, 
.father-name, .mother-name, 
.date-of-birth, .date-meining, 
.madrasha-name, .Upazila{
    position: absolute;
    font-size: 25px;
    left: 325px;

}
.registration-number{   
    top: 406px;
}
.student-name{
    top: 461px;
}
.father-name{
    top: 509px;
}
.mother-name{
    top: 559px;
}
.date-of-birth{
    top: 604px;
}
.date-meining{
    top: 654px;
}
.madrasha-name{
    top: 704px;
}
.Upazila{
    top: 754px;
}
.distric{
    position: absolute;
    right: 205px;
    top: 753px;
    font-size: 25px;
}
.session{
    position: absolute;
    right: 229px;
    top: 407px;
    font-size: 25px;
}
.first-subject, .third-subject, 
.fifth-subject, .seventh-subject, 
.ninth-subject{
    left: 69px;
    position: absolute;
    font-size: 20px;
}
.first-subject{
    top: 919px;
}
.third-subject{
    top: 949px;
}
.fifth-subject{
    top: 979px;
}
.seventh-subject{
    top: 1009px;
}
.ninth-subject{
    top: 1039px;
}
.secound-subject, .fourth-subject, 
.sixth-subject, .eighth-subject, 
.tenth-subject{
    position: absolute;
    font-size: 20px;
    left: 510px;
}
.secound-subject{
    top: 919px;
}
.fourth-subject{
    top: 949px;
}
.sixth-subject{
    top: 979px;
}
.eighth-subject{
    top: 1009px;
}
.tenth-subject{
    top: 1039px;
}
.student-image{
    position: absolute;
    width: 184px;
    left: 728px;
    top: 461px;
}
